<p><img src=<%= @response["image"]["sizes"]["Large"]["url"] %>height="250" width="100"></p>
<p><%= @response["name"] %></p>
<p><%= @response["priceLabel"] %></p>
<p><a href=<%= @response["pageUrl"] %>></p>