<h1>Formal</h1>
<div class=formal1>
<p><a href=<%= @response.women_url %>><img src=<%= @response.women_formal_image %>height="250" width="100"></a></p>
<p><%= @response.women_formal_name %><p>
<p><%= @response.women_formal_price %></p>
</div>


