<h1> Style Search </h1>
<div class="user">
  <% @users.each do |user| %>
  <div class="men">
  <% if user.type == "Men" %>
  <h2><%= link_to "#{user.type}", men_men_categories_path(@categories) %></h2>
</div>
  <% else %>
  <div class="women">
  <% if user.type == "Women" %>
  <h2><%= link_to "#{user.type}", women_women_categories_path(@categories) %></h2>
</div>
  <% end %>
<% end %>
<% end %>
</div>
