body {
	background-color: white;
}

.goldoval {
     width:180px; 
     height:30px; 
     border:1px solid #000; 
     border-radius: 90px;
     background: #EDDA74;
     display: inline-block;
     margin-left: 650px;
}

.purpleoval {
     width:180px; 
     height:30px; 
     border:1px solid #000; 
     border-radius: 90px;
     background: purple;
     display: inline-block;
     margin-left: 20px;
}

.yellowoval {
     width:180px; 
     height:30px; 
     border:1px solid #000; 
     border-radius: 90px;
     background: yellow;
     display: inline-block;
     margin-left: 20px;
}

.yellowoval2 {
     width:180px; 
     height:30px; 
     border:1px solid #000; 
     border-radius: 90px;
     background: yellow;
     display: inline-block;
     margin-left: 650px;
}

.whiteoval {
     width:180px; 
     height:30px; 
     border:1px solid #000; 
     border-radius: 90px;
     background: white;
     display: inline-block;
     margin-left: 20px;
}

.beigeoval {
     width:180px; 
     height:30px; 
     border:1px solid #000; 
     border-radius: 90px;
     background: beige;
     display: inline-block;
     margin-left: 20px;
}

.pinkoval {
     width:180px; 
     height:30px; 
     border:1px solid #000; 
     border-radius: 90px;
     background: pink;
     display: inline-block;
     margin-left: 750px;
}

.whiteoval2 {
     width:180px; 
     height:30px; 
     border:1px solid #000; 
     border-radius: 90px;
     background: white;
     display: inline-block;
     margin-left: 20px;
}

body {
     background-color: white;
}

h3 {
     color: black;
     font-family: 'Megrim';
     display: inline-block;
     margin-left: 1100px;
}

p {
     color: black;
     font-family: 'Megrim';
     text-align: center
}

a {
     text-decoration: none;
     color: black;
}

h1 {
     font-size: 60px;
     text-align: center;
     color: black;
     font-family: 'Megrim';
}