body {
	background-color: white;
}

h3 {
	color: black;
	font-family: 'Megrim';
	display: inline-block;
	margin-left: 1100px;
}

p {
	color: black;
	font-family: 'Megrim';
	text-align: center
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 60px;
	text-align: center;
	color: black;
	font-family: 'Megrim';
}