h2 {
	font-size: 40px;
	color: black;
	font-family: 'Megrim';
}

.category {
	margin: 20px;
	text-align: center;
	padding-bottom: 60px;
	padding-top: 160px;
	padding-left: 85px;
}

.casual {
	float: left;
	margin-left: center;
}

.formal {
	float: left;
	margin-left: 45px;

}

.work {
	float: left;
	margin-left: 45px;

}

.redoval {
     width:180px; 
     height:30px; 
     border:1px solid #000; 
     border-radius: 90px;
     background: #DC143C;
}

.greenoval {
     width:180px; 
     height:30px; 
     border:1px solid #000; 
     border-radius: 90px;
     background: #2E8B57;
     margin-top: 2px;
}

.purpleoval {
     width:180px; 
     height:30px; 
     border:1px solid #000; 
     border-radius: 90px;
     background: #BA55D3;
     margin-top: 2px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-shadow: 0px 0px 10px black;
	color: transparent; 
}



