h2 {
	font-size: 40px;
	color: white;
	font-family: 'Over the Rainbow';
}

.category {
	margin: 20px;
	text-align: center;
	padding-bottom: 60px;
	padding-top: 160px;
	padding-left: 85px;
}

.casual {
	float: left;
	margin-left: center;
}

.formal {
	float: left;
	margin-left: 45px;

}

.work {
	float: left;
	margin-left: 45px;

}




