body {
	background-color: white;
}

h3 {
	color: black;
	font-family: 'Megrim';
	display: inline-block;
	margin-left: 1100px;
}

p {
	color: black;
	font-family: 'Megrim';
	text-align: center
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 60px;
	text-align: center;
	color: black;
	font-family: 'Megrim';
}


.dress {
	display: inline-block;
	margin-left: 230px;

}

.shoe {
	display: inline-block;
	margin-left: 500px;
}

.lip {
	display: inline-block;
	margin-left: 200px;
}

.ear {
	display: inline-block;
	margin-left: 500px;
}

.dress1 {
	display: inline-block;
	margin-left: 360px;
}

.shoe1 {
	display: inline-block;
	margin-left: 450px;

}

.lip1 {
	display: inline-block;
	margin-left: 400px;
}

.ear1 {
	display: inline-block;
	margin-left: 400px;
}

.dress2 {
	display: inline-block;
	margin-left: 555px;
}

.shoe2 {
	display: inline-block;
	margin-left: 420px;

}

.lip2 {
	display: inline-block;
	margin-left: 430px;
}

.ear2 {
	display: inline-block;
	margin-left: 250px;
}

.dress3 {
	display: inline-block;
	margin-left: 300px;
}

.shoe3 {
	display: inline-block;
	margin-left: 380px;

}

.lip3 {
	display: inline-block;
	margin-left: 400px;
}

.ear3 {
	display: inline-block;
	margin-left: 380px;
}




