body {
	background-color: white;
}

p {
	color: black;
	font-family: 'Over the Rainbow';
	text-align: center
}

h1 {
	font-size: 60px;
	text-align: center;
	color: black;
	font-family: 'Over the Rainbow';
}

.container {
}

.dress {
	float: left;
	padding: 20px;
	margin: 20px;
	margin-left: 100px;
	margin-bottom: 60px;

}

.shoe {
	float: left;
	padding: 20px;
	margin: 20px;
	margin-left: 100px;
	margin-top: 250px;
}

.lip {
	float: right;
	padding: 20px;
	margin: 20px;
	margin-right: 85px;
	margin-bottom: 250px;
}

.ear {
	float: left;
	padding: 20px;
	margin: 20px;
	margin-left: 100px;
	margin-bottom: 65px;
	margin-top: 48px;
}

.dress1 {
	float: left;
	padding: 20px;
	margin: 20px;
	margin-left: 100px;
	margin-bottom: 60px;
}

.shoe1 {
	float: left;
	padding: 20px;
	margin: 20px;
	margin-left:250px;
	margin-top: -25px;

}

.lip1 {
	float: right;
	padding: 20px;
	margin: 20px;
	margin-right: 250px;
	margin-bottom: 250px;
}

.ear1 {
	float: left;
	padding: 20px;
	margin: 20px;
	margin-left: 100px;
	margin-bottom: 65px;
	margin-top: 48px;
}

.dress2 {
	float: left;
	padding: 20px;
	margin: 20px;
	margin-left: 175px;
	margin-bottom: 60px;
}

.shoe2 {
	float: left;
	padding: 20px;
	margin: 20px;
	margin-left:355px;
	margin-top: 47px;

}

.lip2 {
	float: right;
	padding: 20px;
	margin: 20px;
	margin-right: 250px;
	margin-bottom: 250px;
}

.ear2 {
	float: left;
	padding: 20px;
	margin-left: 100px;
	margin-top: 113px;
}

.dress3 {
	float: left;
	padding: 20px;
	margin-left: 100px;
	margin-bottom: 100px;
}

.shoe3 {
	float: left;
	padding: 20px;
	margin-left: 100px;
	margin-top: 105px;

}

.lip3 {
	float: right;
	padding: 20px;
	margin-right: 200px;
	margin-top: 130px;
}

.ear3 {
	float: left;
	padding: 20px;
	margin-left: 120px;
	margin-bottom: 100px;
}




